<section class="benefits-form">
    <div class="container">
        <div class="benefits-form__inner">
            <div class="benefits-form__content">
                <h2 class="benefits-form__title">
                    Оставьте заявку на консультацию <br>
                    <span>и расчёт стоимости БЕСПЛАТНО</span>
                </h2>

                <form class="form benefits-form__form" id="mainSectionForm">
                    <div class="benefits-form__row">
                        <div class="form__group">
                            <input type="tel" name="user_phone" class="form__input" placeholder="Введите ваш телефон">
                        </div>
                        <button type="submit" class="btn btn--primary benefits-form__btn">ЖДУ ЗВОНКА</button>
                    </div>

                    <div class="form__consents">
                        <label class="form__checkbox-label">
                            <input type="checkbox" name="consent_data" class="form__checkbox" checked required>
                            <span class="form__checkbox-custom"></span>
                            <span class="benefits-form__policy">
                                Нажимая на кнопку вы соглашаетесь с условиями 
                                <a href="./policy.html">Полититики конфиденциальности</a>
                            </span>
                        </label>
                    </div>
                </form>
            </div>

            <div class="benefits-form__visual">
                <!-- <img src="src/img/girl-cleaning.png" alt="Клинер" class="benefits-form__image"> -->
            </div>
        </div>
    </div>
 
</section>