<section class="calc-banner" id="calc">
    <div class="container">
        <div class="calc-banner__inner">
            <div class="calc-banner__content">
                <h2 class="calc-banner__title">
                    Калькулятор стоимости уборки с точностью 98%
                </h2>
                <p class="calc-banner__subtitle">
                    Это бесплатно и ни к чему не обязывает!
                </p>

                <div class="calc-banner__card">
                    <div class="calc-banner__left">
                        <h3 class="calc-banner__card-title">
                            Отлично! Ваши ответы получены, <br>
                           менеджер уже приступает к расчёту
                        </h3>
                        <p class="calc-banner__card-subtitle">
                            Где вам удобнее получить расчёт?
                        </p>

                        <div class="calc-banner__socials">
                            <a href="https://t.me/твой_юзернейм" target="_blank" class="calc-banner__social calc-banner__social--tg">
                                <img src="src/assets/img/tg.png" alt="Telegram">
                            </a>
                            <a href="https://vk.com/твоя_страница" target="_blank" class="calc-banner__social calc-banner__social--wa">
                                <img src="src/assets/img/vk.png" alt="WhatsApp">
                            </a>
                        </div>

                        <form class="form calc-banner__form" id="calcBannerForm">
                            <div class="form__group calc-banner__group">
                                <input 
                                    type="tel"
                                    name="user_phone"
                                    class="form__input calc-banner__input"
                                    placeholder="Введите ваш телефон"
                                >
                                <span class="form__error"></span> 
                            </div>

                            <button type="submit" class="btn calc-banner__btn" disabled>
    ПОЛУЧИТЬ РАСЧЁТ И БОНУСЫ
</button>

                            <div class="form__consents calc-banner__consents">
                                <label class="form__checkbox-label">
                                    <input 
                                        type="checkbox"
                                        name="consent_data"
                                        class="form__checkbox"
                                        checked
                                        required
                                    >
                                    <span class="form__checkbox-custom"></span>
                                    <span class="calc-banner__policy">
                                        Нажимая на кнопку вы соглашаетесь с условиями
                                        <a href="./src/pages/policy.html">Политикой конфиденциальности</a>
                                    </span>
                                </label>
                            </div>
                        </form>
                    </div>

                    <div class="calc-banner__visual">
                        <img src="src/assets/img/tel.png" alt="Телефон" class="calc-banner__phone">
                        <div class="calc-banner__bonus">
                            <div class="calc-banner__bonus-content">
                                <p class="calc-banner__bonus-title">Ваши бонусы!</p>
                                <ul class="calc-banner__bonus-list">
                                    <li>Скидка 10% на первый заказ</li>
                                    <li>Книга «Магическая уборка»</li>
                                </ul>
                                <span class="calc-banner__bonus-note">(в бумажном переплёте)</span>
                            </div>
                            <img src="src/assets/img/book.png" alt="Бонус" class="calc-banner__bonus-image">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>