<section class="certs">
  <div class="container">
    <div class="certs__header">
      <h2 class="certs__title">Сертификаты</h2>
      <p class="certs__subtitle">Моющие средства от проверенных производителей</p>
    </div>

    <div class="certs__slider-wrapper">
      <div class="swiper certs-slider">
        <div class="swiper-wrapper">
          
          <div class="swiper-slide certs-slider__slide">
            <div class="cert-card">
              <img src="src/assets/img/certs1.jpg" alt="Сертификат Grass DESO C2" class="cert-card__img">
            </div>
          </div>

          <div class="swiper-slide certs-slider__slide">
            <div class="cert-card">
              <img src="src/assets/img/certs2.jpg" alt="Сертификат Grass DESO C10" class="cert-card__img">
            </div>
          </div>

          <div class="swiper-slide certs-slider__slide">
            <div class="cert-card">
              <img src="src/assets/img/certs3.jpg" alt="Декларация о соответствии" class="cert-card__img">
            </div>
          </div>

          <div class="swiper-slide certs-slider__slide">
            <div class="cert-card">
              <img src="src/assets/img/certs1.jpg" alt="Сертификат Grass" class="cert-card__img">
            </div>
          </div>

        </div>
      </div>

      <button class="certs-slider__btn certs-slider__btn--prev">
        <img src="src/assets/img/left-arrow.svg" alt="">
      </button>
      <button class="certs-slider__btn certs-slider__btn--next">
        <img src="src/assets/img/right-arrow.svg" alt="">
      </button>
    </div>
  </div>
</section>