<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      
      <div class="footer__brand">
        <a href="./" class="footer__logo">
           <img src="https://ui-avatars.com/api/?name=Clean+Pro&background=0ea5e9&color=fff&rounded=true" alt="Логотип">
    
        </a>
    
      </div>

      <nav class="footer__nav">
        <a href="./rekvizits.html" class="footer__link">Реквизиты</a>
        <a href="./policy.html" class="footer__link">Политика конфиденциальности</a>
      </nav>

      <div class="footer__contacts">
        <span class="footer__contacts-label">Быстрая связь:</span>
        <div class="footer__socials">
          <a href="https://t.me/твой_юзернейм" class="footer__social-link footer__social-link--tg" target="_blank">
            <img src="src/assets/img/tg.png" alt="Telegram">
          </a>
          <a href="https://vk.com/твоя_страница" class="footer__social-link footer__social-link--wa" target="_blank">
            <img src="src/assets/img/vk.png" alt="VK">
          </a>
        </div>
      </div>

      <div class="footer__dev">
        <p class="footer__dev-text">Разработка сайта: <a href="#" target="_blank">Kostromina Design</a></p>
      </div>

    </div>
  </div>
</footer>