<section class="gifts" id="promo">
  <div class="container">
    <div class="gifts__inner">
        <h2 class="gifts__title">Выберите подарок и закажите бережную уборку, без наценок и скрытых платежей</h2>
      
      <div class="gifts__content">
        
        <div class="gifts__list">
          <div class="gift-card">
            <div class="gift-card__icon">
              <img src="src/assets/img/gift1.svg" alt="Процент">
            </div>
            <div class="gift-card__body">
              <div class="gift-card__info">
                <h3 class="gift-card__title">Скидка 10% при первом заказе</h3>
                <p class="gift-card__text">Действует на все пакеты услуг</p>
              </div>
              <button class="gift-card__btn" data-modal-target="#calcModal" data-modal-title="Получить подарок: Скидка 10%">
                Получить подарок
              </button>
            </div>
          </div>

          <div class="gift-card">
            <div class="gift-card__icon">
              <img src="src/assets/img/gift2.svg" alt="Плита">
            </div>
            <div class="gift-card__body">
              <div class="gift-card__info">
                <h3 class="gift-card__title">Бесплатная мойка плиты</h3>
                <p class="gift-card__text">При заказе в дневное время суток</p>
              </div>
              <button class="gift-card__btn" data-modal-target="#calcModal" data-modal-title="Получить подарок: Бесплатная мойка плиты">
                Получить подарок
              </button>
            </div>
          </div>

          <div class="gift-card">
            <div class="gift-card__icon">
              <img src="src/assets/img/gift3.svg" alt="Окно">
            </div>
            <div class="gift-card__body">
              <div class="gift-card__info">
                <h3 class="gift-card__title">Мойка 2 окон бесплатно</h3>
                <p class="gift-card__text">При заказе уборки после ремонта</p>
              </div>
              <button class="gift-card__btn" data-modal-target="#calcModal" data-modal-title="Получить подарок: Мойка 2 окон">
                Получить подарок
              </button>
            </div>
          </div>
        </div>

        <div class="gifts__image">
        <img src="src/assets/img/gift.png" alt="Забери подарок!" class="gifts__box-img">
      </div>
      </div>

      

    </div>
  </div>
</section>