<section class="hero">
    <div class="hero__bg-wave"></div> <!-- Сложный изогнутый фон на всю ширину -->
    <div class="container hero__container">
        <div class="hero__content">
            <h1 class="hero__title">Бережная уборка квартир и домов <span>по фиксированной стоимости</span> от 80₽/м²</h1>
            <p class="hero__subtitle">Выберите ваш бонус: получите точный расчет стоимости и скидку 10% на первую уборку.</p>
            <div class="hero__actions">
              <button class="btn btn--primary" 
                data-modal-target="#calcModal"
                data-modal-title="Рассчитать стоимость"
                data-modal-subtitle="Оставьте заявку, и мы перезвоним за 5 минут с точным расчетом"
                data-modal-success-title="Спасибо за заявку!"
                data-modal-success-text="Чтобы получить скидку 10%, назовите менеджеру промокод SAVE10."
                data-show-promo="true">Рассчитать стоимость</button>
                <button class="btn btn--secondary">Выбрать вид уборки</button>
            </div>
        </div>
        <div class="hero__image-wrapper">
            <!-- Сгенерированная картинка клининга с Unsplash -->
            <img src="/src/assets/img/hero.png">
            <div class="hero__badge">
               
            </div>
        </div>
    </div>
</section>