<section class="hero">
    <div class="hero__bg-wave"></div> <!-- Сложный изогнутый фон на всю ширину -->
    <div class="container hero__container">
        <div class="hero__content">
            <h1 class="hero__title">Бережная уборка квартир и домов <span>по фиксированной стоимости</span> от 80₽/м²</h1>
            <p class="hero__subtitle">Выберите ваш бонус: получите точный расчет стоимости и скидку 10% на первую уборку.</p>
            <div class="hero__actions">
              <button class="btn btn--primary" 
                data-modal-target="#calcModal"
                data-modal-title="Рассчитать стоимость"
                data-modal-subtitle="Оставьте заявку, и мы перезвоним за 5 минут с точным расчетом"
                data-modal-success-title="Спасибо за заявку!"
                data-modal-success-text="Чтобы получить скидку 10%, назовите менеджеру промокод SAVE10."
                data-show-promo="true">Рассчитать стоимость</button>
                <a class="btn btn--secondary" href="#services">Выбрать вид уборки</a>
        
            </div>
        </div>
       <div class="hero__image-wrapper">
    <img src="/src/assets/img/hero.png" class="hero__image"> <div class="hero__badge"></div>
</div>
    </div>
    <!-- <div><svg width="1920" height="101" viewBox="0 0 1920 101" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0V101H1920V0C1920 0 1478 76 962 76C446 76 0 0 0 0Z" fill="white" />
</svg></div> -->
</section>