<section class="how-we-clean">
  <div class="container">
    <div class="how-we-clean__header">
      <h2 class="how-we-clean__title">Посмотрите наглядно как мы делаем уборку</h2>
      <p class="how-we-clean__subtitle">Так выглядит уборка в глазах наших клинеров</p>
    </div>

    <div class="tabs">
      <div class="tabs__nav">
        <button class="tabs__btn tabs__btn--active" data-tab="bedroom">Спальная комната</button>
        <button class="tabs__btn" data-tab="kitchen">Кухня</button>
        <button class="tabs__btn" data-tab="bathroom">Ванная</button>
        <button class="tabs__btn" data-tab="hallway">Прихожая</button>
      </div>

      <div class="tabs__content">
        <!-- Спальня -->
        <div class="tabs__pane tabs__pane--active" id="bedroom">
          <div class="cleaning-view">
            <img src="/src/assets/img/bedroom.jpg" alt="Уборка в спальне" class="cleaning-view__img">
            
            <!-- Хотспоты (точки) -->
            <div class="hotspot" style="top: 20%; left: 14%;">
              <div class="hotspot__dot"></div>
              <div class="hotspot__label">Отмоем осветительные приборы</div>
            </div>

            <div class="hotspot--left hotspot" style="top: 71%; left: 73%;">
              <div class="hotspot__dot"></div>
              <div class="hotspot__label">Аккуратно сложим вещи</div>
            </div>

            <div class="hotspot" style="top: 77%; left: 4%;">
              <div class="hotspot__dot"></div>
              <div class="hotspot__label">Помоем пол</div>
            </div>

            <div class="hotspot" style="top: 62%; left: 45%;">
              <div class="hotspot__dot"></div>
              <div class="hotspot__label">Заправим кровать</div>
            </div>

            <div class="hotspot" style="top: 86%; left: 28%;">
              <div class="hotspot__dot"></div>
              <div class="hotspot__label">Пропылесосим ковёр</div>
            </div>

            <div class="hotspot--left hotspot" style="top: 25%; left: 62%;">
              <div class="hotspot__dot"></div>
              <div class="hotspot__label">Помоем окна</div>
            </div>

            <div class="hotspot--left hotspot" style="top: 42%; left: 60%;">
              <div class="hotspot__dot"></div>
              <div class="hotspot__label">Обеспылим предметы интерьера</div>
            </div>

            
          </div>
        </div>
        <div class="tabs__pane tabs__pane" id="kitchen">
          <div class="cleaning-view">
            <img src="/src/assets/img/kitchen.jpg" alt="Уборка в кухне" class="cleaning-view__img">
            
            <!-- Хотспоты (точки) -->
            <div class="hotspot" style="top: 20%; left: 58%;">
              <div class="hotspot__dot"></div>
              <div class="hotspot__label">Отмоем осветительные приборы</div>
            </div>

            <div class="hotspot--left hotspot" style="top: 41%; left: 76%;">
              <div class="hotspot__dot"></div>
              <div class="hotspot__label">Помоем окна
и жалюзи</div>
            </div>

            <div class="hotspot" style="top: 77%; left: 4%;">
              <div class="hotspot__dot"></div>
              <div class="hotspot__label">Помоем пол</div>
            </div>

            <div class="hotspot" style="top: 66%; left: 22%;">
              <div class="hotspot__dot"></div>
              <div class="hotspot__label">Помоем посуду
и раковину</div>
            </div>

            <div class="hotspot" style="top: 63%; left: 52%;">
              <div class="hotspot__dot"></div>
              <div class="hotspot__label">Помоем снаружи плиту, холодильник
и вытяжку</div>
            </div>

            <div class="hotspot--left hotspot" style="top: 25%; left: 30%;">
              <div class="hotspot__dot"></div>
              <div class="hotspot__label">Помоем фасады
шкафов</div>
            </div>

            <div class="hotspot--left hotspot" style="top: 83%; left: 60%;">
              <div class="hotspot__dot"></div>
              <div class="hotspot__label">Обеспылим предметы интерьера</div>
            </div>

            
          </div>
        </div>
        <div class="tabs__pane tabs__pane" id="bathroom">
          <div class="cleaning-view">
            <img src="/src/assets/img/bathroom.jpg" alt="Уборка в ванной" class="cleaning-view__img">
            
            <!-- Хотспоты (точки) -->
            <div class="hotspot" style="top: 20%; left: 58%;">
              <div class="hotspot__dot"></div>
              <div class="hotspot__label">Отмоем зеркала 
и стеклянные поверхности</div>
            </div>

            <div class="hotspot--left hotspot" style="top: 51%; left: 36%;">
              <div class="hotspot__dot"></div>
              <div class="hotspot__label">Помоем раковину</div>
            </div>

            <div class="hotspot" style="top: 88%; left: 38%;">
              <div class="hotspot__dot"></div>
              <div class="hotspot__label">Помоем пол</div>
            </div>


            <div class="hotspot" style="top: 79%; left: 16%;">
              <div class="hotspot__dot"></div>
              <div class="hotspot__label">Отмоем 
и продезинфицируем сантехнику</div>
            </div>

            <div class="hotspot--left hotspot" style="top: 25%; left: 2%;">
              <div class="hotspot__dot"></div>
              <div class="hotspot__label">Протираем
предметы интерьера</div>
            </div>

            <div class="hotspot--left hotspot" style="top: 74%; left: 60%;">
              <div class="hotspot__dot"></div>
              <div class="hotspot__label">Помоем ванну
и душевую</div>
            </div>

            
          </div>
        </div>
        <div class="tabs__pane tabs__pane" id="hallway">
          <div class="cleaning-view">
            <img src="/src/assets/img/hall.jpg" alt="Уборка в коридоре" class="cleaning-view__img">
            
            <!-- Хотспоты (точки) -->
            <div class="hotspot" style="top: 34%; left: 11%;">
              <div class="hotspot__dot"></div>
              <div class="hotspot__label">Отмываем двери
и дезинфицируем ручки</div>
            </div>

            <div class="hotspot--left hotspot" style="top: 51%; left: 27%;">
              <div class="hotspot__dot"></div>
              <div class="hotspot__label">Протираются
все доступные
поверхности</div>
            </div>

            <div class="hotspot" style="top: 88%; left: 38%;">
              <div class="hotspot__dot"></div>
              <div class="hotspot__label">Помоем пол и плинтусы</div>
            </div>


            <div class="hotspot" style="top: 86%; left: 16%;">
              <div class="hotspot__dot"></div>
              <div class="hotspot__label">Расставим обувь</div>
            </div>

            <div class="hotspot--left hotspot" style="top: 14%; left: 47%;">
              <div class="hotspot__dot"></div>
              <div class="hotspot__label">Отмоем зеркала 
и стеклянные поверхности</div>
            </div>


            
          </div>
        </div>
        
        <!-- Остальные панели (пустые для примера) -->
        <div class="tabs__pane" id="kitchen"></div>
        <div class="tabs__pane" id="bathroom"></div>
        <div class="tabs__pane" id="hallway"></div>
      </div>
    </div>
  </div>
</section>