<section class="inventory">
  <div class="container">
    <div class="inventory__header">
      <h2 class="inventory__title">Что входит в инвентарь нашего клинера</h2>
      <p class="inventory__subtitle">Инструменты, с помощью которых создаём уют в вашем доме</p>
    </div>

    <div class="inventory__grid">
      <div class="inventory__side--left inventory__side">
        <div class="inventory-item">
          <div class="inventory-item__icon">
            <img src="src/assets/img/inventory1.png" alt="Средства">
          </div>
          <h3 class="inventory-item__title">5 видов моющих средств</h3>
          <p class="inventory-item__text">подходят для всех типов поверхностей, от паркета до кафеля</p>
        </div>
        <div class="inventory-item">
          <div class="inventory-item__icon">
            <img src="src/assets/img/inventory2.png" alt="Защита">
          </div>
          <h3 class="inventory-item__title">Маски и перчатки</h3>
          <p class="inventory-item__text">Соблюдаем меры санитарной безопасности</p>
        </div>
      </div>

      <div class="inventory__main">
        <div class="inventory__circle-wrapper">
         
          
          <div class="inventory__circle">
            <img src="src/assets/img/inventory.png" alt="Клинер" class="inventory__cleaner">
            
            <form class="inventory__form form-capture">
              <div class="form-capture__field">
                <input type="tel" placeholder="Введите ваш телефон" class="form-capture__input" required>
              </div>
              
              <button type="submit" class="form-capture__btn" data-modal-target="#calcModal">
                ЗАКАЗАТЬ УБОРКУ
              </button>

              <div class="form-capture__policy">
                <label class="checkbox">
                  <input type="checkbox" class="checkbox__input" checked required>
                  <span class="checkbox__custom"></span>
                  <span class="checkbox__text">
                    Нажимая на кнопку вы соглашаетесь с условиями 
                    <a href="#">Политики конфиденциальности</a>
                  </span>
                </label>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="inventory__side--right inventory__side">
        <div class="inventory-item">
          <div class="inventory-item__icon">
            <img src="src/assets/img/inventory3.png" alt="Оборудование">
          </div>
          <h3 class="inventory-item__title">8 видов оборудования</h3>
          <p class="inventory-item__text">Профессиональная техника для создания чистоты на уровне блеска</p>
        </div>
        <div class="inventory-item">
          <div class="inventory-item__icon">
            <img src="src/assets/img/inventory4.png" alt="Салфетки">
          </div>
          <h3 class="inventory-item__title">Швабры и салфетки</h3>
          <p class="inventory-item__text">Из различной ткани, для эффективной уборки всех типов поверхностей</p>
        </div>
      </div>
    </div>
  </div>
</section>