<nav class="nav-menu">
    <div class="container">
        <!-- КНОПКА БУРГЕР (появится только на мобильных) -->
         <div class="nav-menu__box">
         <a href="/" class="header__logo">
            <img src="https://ui-avatars.com/api/?name=Clean+Pro&background=0ea5e9&color=fff&rounded=true" alt="Логотип">
            <span>CleanPro</span>
        </a>
        
        <button class="nav-menu__burger" aria-label="Открыть меню">
            <span></span>
            <span></span>
            <span></span>
        </button></div>
         

        <ul class="nav-menu__list">
            <li class="nav-menu__item"><a href="#services" class="nav-menu__link">Услуги</a></li>
            <li class="nav-menu__item"><a href="#calc" class="nav-menu__link">Рассчитать стоимость</a></li>
            <!-- Активный пункт по референсу -->
            <li class="nav-menu__item"><a href="#benefits" class="nav-menu__link">Почему мы</a></li>
            <li class="nav-menu__item"><a href="#how" class="nav-menu__link">Как мы делаем уборку</a></li>
            <li class="nav-menu__item"><a href="#cases" class="nav-menu__link">Работы</a></li>
            <li class="nav-menu__item"><a href="#promo" class="nav-menu__link">Акции</a></li>
        </ul>
    </div>
</nav>