<section class="photo-calc">
  <div class="container">
    <div class="photo-calc__inner">
      
      <div class="photo-calc__content">
        <h2 class="photo-calc__title">Моментальный Рассчёт стоимости по фотографии</h2>
        <p class="photo-calc__subtitle">Пришлите фото в мессенджере, чтобы рассчитать стоимость, быстро заказать уборку или задать нам вопрос</p>
        
        <div class="photo-calc__card messenger-card">
          <p class="messenger-card__text">Кликните на удобный способ связи и напишите нам:</p>
          <div class="messenger-card__socials">
            <a href="https://t.me/твой_юзернейм" target="_blank" class="messenger-card__link messenger-card__link--tg">
              <img src="src/assets/img/tg-white.png" alt="Telegram">
            </a>
            <a href="https://vk.com/твоя_страница" target="_blank" class="messenger-card__link messenger-card__link--vk">
              <img src="src/assets/img/vk.png" alt="WhatsApp">
            </a>
          </div>
          <div class="messenger-card__footer">
            <div class="messenger-card__time">
                <img src="src/assets/img/clock.svg" alt="clock">
               <span>Скорость ответа 60 секунд</span>
            </div>
          </div>
        </div>
      </div>

    

    </div>
  </div>
</section>