<section class="urgent">
  <div class="container">
    <div class="urgent__inner">
      
      <div class="urgent__content">
        <h2 class="urgent__title">
          Закажите уборку прямо сейчас! Выезд персонала в течении часа
        </h2>
        
        <button class="urgent__btn form-capture__btn" data-modal-target="#calcModal" data-modal-title="Срочный выезд">
          ЗАКАЗАТЬ УБОРКУ
        </button>

        <div class="urgent__contacts">
          <p class="urgent__contacts-label">Или свяжитесь с нами напрямую:</p>
          
          <div class="urgent__socials">
            <a href="https://t.me/твой_юзернейм" class="urgent__social-link urgent__social-link--tg" target="_blank">
              <img src="src/assets/img/tg.png" alt="Telegram">
            </a>
            <a href="https://vk.com/твоя_страница" class="urgent__social-link urgent__social-link--wa" target="_blank">
              <img src="src/assets/img/vk.png" alt="WhatsApp">
            </a>
          </div>

          <div class="urgent__info">
            <a href="tel:88007006050" class="urgent__phone">8-800-700-60-50</a>
            <span class="urgent__hours">
              <i class="fa-regular fa-clock"></i> Пн-Вс: 9:00 - 21:00
            </span>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>