@use 'variables' as *;
@use 'mixins' as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    text-size-adjust: 100%; // Запрещает старым мобильным браузерам самовольно менять размер шрифтов
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: $font-main;
    color: $c-text;
    background-color: $c-white;
    line-height: 1.5;
    min-height: 100vh;
    position: relative;
    
    // Надежная защита от вылетов по горизонтали для всего сайта
    max-width: 100%;
    overflow-x: hidden; 
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    word-wrap: break-word;
    overflow-wrap: break-word; // Разрешает перенос длинных слов на новую строку
    hyphens: auto; 
}

// Защита от автозума Safari на iPhone и дерганья попапов
input, textarea, select {
    font-size: 16px !important; 
}

.wrapper {
    overflow-x: hidden;
    width: 100%;
}

.container {
    max-width: 1064px;
    margin: 0 auto;
    padding: 0 20px;
    
    // На мобилках (до 480px) можно уменьшить боковые поля до 15px, чтобы контенту было просторнее
    @include mq($bp-sm) {
        padding: 0 15px;
    }
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    border-radius: 50px;
    font-family: $font-main;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    text-decoration: none;
    color: $c-btn-text; 

    &--primary {
        background-color: $c-primary;
        color: $c-btn-text;
        box-shadow: 0 8px 20px rgba(67, 170, 255, 0.3);
        &:hover { 
            background-color: $c-primary-hover; 
            box-shadow: 0 10px 25px rgba(67, 170, 255, 0.4);
            transform: translateY(-2px);
        }
    }

    &--secondary {
        background-color: $c-secondary;
        color: $c-text;
        &:hover { 
            background-color: $c-secondary-hover; 
        }
    }

    &--outline {
        background-color: transparent;
        border: 1px solid $c-primary;
        color: $c-text;
        &:hover { 
            border-color: $c-primary; 
            color: #fff;
            background-color: #a2ccef; 
        }
    }
}