// src/scss/base/_fonts.scss

@font-face {
    font-family: 'Montserrat';
    font-display: swap; // Важно для скорости загрузки (показывает системный шрифт, пока грузится твой)
    src: url('./../assets/fonts/Montserrat-Thin.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    font-display: swap; // Важно для скорости загрузки (показывает системный шрифт, пока грузится твой)
    src: url('./../assets/fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    font-display: swap; // Важно для скорости загрузки (показывает системный шрифт, пока грузится твой)
    src: url('./../assets/fonts/Montserrat-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Montserrat';
    font-display: swap;
    src: url('./../assets/fonts/Montserrat-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    font-display: swap;
    src: url('./../assets/fonts/Montserrat-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    font-display: swap;
    src: url('./../assets/fonts/Montserrat-Extrabold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}