@use 'variables' as *;
@use 'mixins' as *;

.hero {
    position: relative;
    padding: 60px 0 140px;
    z-index: 1;
    background-color: $c-bg-light;
    margin-bottom: rem(40);

    &::after{
    content: "";
    position: absolute;
    inset: 0;
    background: url("src/assets/img/hero-bottom.png") no-repeat bottom;
    background-size: content;
    z-index: 0;
    pointer-events: none;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;

        @include mq($bp-lg) {
            flex-direction: column;
            text-align: center;
            gap: 40px;
        }
    }

    &__content {

        flex: 1; // Занимает доступное пространство
        min-width: rem(550); // ГАРАНТИРУЕТ, что текст не сожмется меньше этой ширины
        position: relative;
        z-index: 2;
      
         @include mq($bp-lg) {
            margin-bottom: 20px;
            text-align: center;
            display: flex;
            align-items: center;
            flex-direction: column;
        }
    }

 &__title {
    // Стили которые остаются без изменений
    font-weight: 800;
    line-height: 1.2; // Можно также сделать плавным, если нужно
    margin-bottom: 24px;
    color: $c-text;
    letter-spacing: -0.5px;

    span { 
        color: $c-primary; 
    }

    // ПЛАВНЫЙ АДАПТИВ:
    // Мы задаем: от 26px (на мобилке) до 44px (на десктопе)
    // Ширины вьюпорта можно настроить под ваши брейкпоинты (375px по умолчанию, и 1200px где рост останавливается)
    @include fluid-font(26px, 44px, 375px, 1200px);
}

    &__subtitle {
        font-size: 17px;
        color: $c-text-muted; // Цвет 4B5258 из ТЗ
        margin-bottom: 40px;
        font-weight: 500;
        line-height: 1.6;

        @include fluid-font(16px, 14px);
    }

    &__actions {
        display: flex;
        gap: 20px;

        @include mq($bp-lg) { justify-content: center; }
        @include mq($bp-sm) {
            flex-direction: column;
            width: 100%;
            .btn { width: 100%; }
        }
    }

    &__image-wrapper {
        position: relative;
        flex-shrink: 0; // Запрещаем контейнеру картинки сжиматься
        width: 50%; // Задаем желаемую ширину (можно в px, например 600px)
        display: flex;
        justify-content: flex-end;
        

        @include mq($bp-lg) { 
            width: 100%; 
            max-width: 450px; 
            justify-content: center;
        }
    }



        &__image {
        width: 110%; // Можно сделать чуть больше контейнера для эффекта наложения
        max-width: none; // Позволяет картинке быть больше обертки
        height: auto;
        object-fit: contain; // Чтобы картинка не обрезалась
        
        // Если нужно, чтобы картинка "свисала" вправо за пределы сетки:
        // margin-right: rem(-100); 

        @include mq($bp-lg) {
            width: 100%;
            margin-right: 0;
        }
    }
       
}